<script lang="ts">
  const ABSOLUTE_ZERO = -273.15;
  const HIGH_TEMPERATURE = 300;

  export let fahrenheit = 72;
  export let celsius = 22.2;

  function toC(f) {
    return +(((f - 32) * 5) / 9).toFixed(0);
  }

  function toF(c) {
    return (c * 9) / 5 + 32;
  }

  function updateCelsius() {
    if (fahrenheit < toF(ABSOLUTE_ZERO)) {
      fahrenheit = toF(ABSOLUTE_ZERO);
    } else if (fahrenheit > toF(HIGH_TEMPERATURE)) {
      fahrenheit = toF(HIGH_TEMPERATURE);
    }

    celsius = +toC(fahrenheit);
    updateTable();
  }

  function updateFahrenheit() {
    if (celsius < ABSOLUTE_ZERO) {
      celsius = ABSOLUTE_ZERO;
    } else if (celsius > HIGH_TEMPERATURE) {
      celsius = HIGH_TEMPERATURE;
    }

    fahrenheit = +toF(celsius);
    updateTable();
  }

  let fahrenheitTableTop = [];
  let fahrenheitTableBottom = [];
  let celsiusTableTop = [];
  let celsiusTableBottom = [];

  function updateTable() {
    let fahrenheitStart = 5 * Math.ceil(fahrenheit / 5);
    let celsiusStart = 5 * Math.ceil(celsius / 5);
    fahrenheitTableTop = [];
    celsiusTableTop = [];
    for (let i: number = 5; i >= 1; i--) {
      fahrenheitTableTop.push(fahrenheitStart - i * 5);
      celsiusTableTop.push(celsiusStart - i * 5);
    }
    fahrenheitTableBottom = [];
    celsiusTableBottom = [];
    for (let i: number = 1; i <= 5; i++) {
      fahrenheitTableBottom.push(fahrenheitStart + i * 5);
      celsiusTableBottom.push(celsiusStart + i * 5);
    }
  }

  let fFocused = true;

  function focusF(event) {
    fFocused = true;
    selectAll(event);
  }

  function focusC(event) {
    fFocused = false;
    selectAll(event);
  }

  function selectAll(event) {
    event.target.select();
  }

  updateTable();
</script>

<table>
  <thead>
    <tr>
      <th>°F</th>
      <th>°C</th>
    </tr>
  </thead>
  <tbody>
    {#if fFocused}
      {#each fahrenheitTableTop as value}
        <tr>
          <td>{value}</td>
          <td>{toC(value)}</td>
        </tr>
      {/each}
    {:else}
      {#each celsiusTableTop as value}
        <tr>
          <td>{toF(value)}</td>
          <td>{value}</td>
        </tr>
      {/each}
    {/if}
    <tr>
      <td>
        <input
          type="number"
          step="5"
          bind:value={fahrenheit}
          on:input={updateCelsius}
          on:focus={focusF}
          on:click={focusF}
          inputmode="numeric"
          pattern="[0-9]*"
        />
      </td>
      <td>
        <input
          type="number"
          step="5"
          bind:value={celsius}
          on:input={updateFahrenheit}
          on:focus={focusC}
          on:click={focusC}
          inputmode="numeric"
          pattern="[0-9]*"
        />
      </td>
    </tr>
    {#if fFocused}
      {#each fahrenheitTableBottom as value}
        <tr>
          <td>{value}</td>
          <td>{toC(value)}</td>
        </tr>
      {/each}
    {:else}
      {#each celsiusTableBottom as value}
        <tr>
          <td>{toF(value)}</td>
          <td>{value}</td>
        </tr>
      {/each}
    {/if}
  </tbody>
</table>
