<script lang="ts">
  
  const validateInput = (value) => {
    const number = Number(value);
    return !isNaN(number);
  };
  
  const convertTemperature = (value, from, to) => {
    if (!validateInput(value)) {
      return '';
    }
    const number = Number(value);
    if (from === 'C') {
      return (number * 9 / 5 + 32).toFixed(2);
    } else if (from === 'F') {
      return ((number - 32) * 5 / 9).toFixed(2);
    }
    return '';
  };
  let inputF = 72;
  let inputC = convertTemperature(inputF, 'F', 'C');

$: bothInputs = inputC === inputF ? inputC : '';

$: fahrenheit = inputF ? Number(inputF) : 0;
$: fahrenheitStart = Math.ceil(fahrenheit / 5) * 5;
$: fahrenheitTableTop = [fahrenheitStart - 15, fahrenheitStart - 10, fahrenheitStart - 5];
$: fahrenheitTableBottom = [fahrenheitStart + 5, fahrenheitStart + 10, fahrenheitStart + 15];

</script>

<table>
  <tr>
    <th>Fahrenheit</th>
    <th>Celsius</th>
  </tr>
  {#each fahrenheitTableTop as tempF}
    <tr>
      <td>{tempF}</td>
      <td>{convertTemperature(tempF.toString(), 'F', 'C')}</td>
    </tr>
  {/each}
  <tr>
    <td><input type="text" bind:value={inputF} on:input={e => {
      inputF = e.target.value;
      if (validateInput(inputF)) {
        inputC = convertTemperature(inputF, 'F', 'C');
      } else {
        inputC = '';
        inputF = '';
      }
    }} /></td>
    <td><input type="text" bind:value={inputC} on:input={e => {
      inputC = e.target.value;
      if (validateInput(inputC)) {
        inputF = convertTemperature(inputC, 'C', 'F');
      } else {
        inputC = '';
        inputF = '';
      }
    }} /></td>
  </tr>
  {#each fahrenheitTableBottom as tempF}
    <tr>
      <td>{tempF}</td>
      <td>{convertTemperature(tempF.toString(), 'F', 'C')}</td>
    </tr>
  {/each}
</table>




