<script>
    let fs = [];
    for (let i = -40; i <= 572; i++) {
      fs.push(i);
    }


  let cs = [];
for (let i = -40; i <= 300; i++) {
  cs.push(i);
}
</script>

<div class="scales">
    <ol class="f">
        {#each fs as f}
          <li>{f}</li>
        {/each}
      </ol>
      <ol class="c">
        {#each cs as c}
          <li>{c}</li>
        {/each}
      </ol>
</div>
    