<script lang="ts">
  import { Router, Route } from 'svelte-routing';
  import Home from './pages/Home.svelte';
  import ScalePage from './pages/Scale.svelte';
</script>

<Router>
  <Route path="/" component={Home} />
  <Route path="/scale" component={ScalePage} />
</Router>