:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 4vmin;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  padding: 3vh;
  border-radius: 3vh;
  width: fit-content;
}

.card {
  padding: 2em;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: darkgoldenrod;
  }
  body{
    background-color: #fff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

td{
  text-align: right;
  font-size: var(--size);
  height: var(--size);
  padding-right: 15px;
}

td input{
  text-align: right;
  font-size: var(--size);
  max-width: 5ch;
  border: 0;
  margin-right: -15px;
}

td input:focus{
  outline: none;
}

input::selection{
  background-color: transparent;
  color: navy;
}

tbody tr:nth-child(1), tbody tr:nth-child(11){
  --size: 1rem;
  color: rgb(0 0 0 / 10%);
}
tbody tr:nth-child(2), tbody tr:nth-child(10){
  --size:1.25rem;
  color: rgb(0 0 0 / 20%);
}
tbody tr:nth-child(3), tbody tr:nth-child(9){
  --size:1.5rem;
  color: rgb(0 0 0 / 30%);
}
tbody tr:nth-child(4), tbody tr:nth-child(8){
  --size:1.75rem;
  color: rgb(0 0 0 / 40%);
}
tbody tr:nth-child(5), tbody tr:nth-child(7){
  --size:2rem;
  color: rgb(0 0 0 / 50%);
}
tbody tr:nth-child(6){
  --size:3rem;
  color: rgb(0 0 0 / 100%);
}

thead tr{
  font-size: 1rem;
  color:#747bff;
}

ol{
  padding: 0;
  margin: 0;
}

li::marker{
  content: '';
}

.scales{
  display: flex;
}

.f, .c{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}